body{
  background-color: turquoise;
}

header {
  clear: top;
}

.contenido {
  width: 75%;
  float: left;
  margin-left: 4%;
}
p{
  text-align: justify;
  font-size: 20px;
  font-family: cursive;
}

.listas {
  background-color: #000000b5;
  width: 6%;
  float:left;
  float:top;
  padding:2%;
  border-radius: 10%;
  min-width: min-content;
  margin: 5px;
}

.cabecera >img{

  max-height: fit-content;
  max-width: fit-content;
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.logo{
  text-align: center;
  
}

footer{
  clear: both;
}

