
header {
  clear: top;
}

.contenido {
  width: 75%;
  float: left;
  margin-left: 4%;
}
p{
  text-align: justify;
  font-size: 105%;
  font-family: cursive;
}

.listas {
  background-color: #000000b5;
  width: 6%;
  float:left;
  padding:2%;
  border-radius: 10%;
  min-width: min-content;
  margin: 1%;
}


.logo{
  text-align: center;
  
}

footer{
  clear: both;
}


#formu {
  margin: 0 auto;
  float: left;
  width: 60%;
  padding: 10%;
}


