body{
  background-color: turquoise;
}

header {
  clear: top;
}

.contenido {
  width: 83%;
  float: left;
  margin-left: 4%;
}
p{
  text-align: justify;
  font-size: 20px;
  font-family: cursive;
}

.cabecera >img{

  max-height: fit-content;
  max-width: fit-content;
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.logo{
  text-align: center;
  
}

footer{
  clear: both;
}

